{% extends "base.html" %} {% block main %}
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="flex flex-col">
            <form class="flex flex-col" action="/adicionar-tarefa" method="POST">
            <label for="to-do" class="mb-4 font-bold text-zinc-800">Insira aqui a tarefa</label>
            <input
                type="text"
                name="to-do"
                id="to-do"
                placeholder="Ex.: Lavar roupas, comprar a comida do gato, etc..." class="p-3 w-max">
            <input
                type="submit"
                value="Adicionar tarefa"
                class="bg-green-400 p-2 rounded font-bold text-white mt-4 ease-in hover:bg-green-600 cursor-pointer"/>
        </form>
        <span class="text-red-400">{{error}}</span>
        </div>
    </div>
{% endblock %}
