{% extends "base.html" %} {% block main %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <ul>
        {% if todos|length == 0 %}
            <li>
                <p>Não há tarefas para serem excluídas</p>
            </li>
        {% endif %}
        {% for todo in todos %}
                <li class="p-2 rounded-md mb-2 bg-zinc-300">
                    <span><b>{{todo.id}}- </b></span>{{ todo.name }}
                  <form method="POST" action="/excluir-tarefa/{{todo.id}}">
                    <button type="submit" class="bg-red-400 text-white px-2 rounded p-2">Excluir</button>
                  </form>
                </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
